no1springbootadityo/src/main/resources/sample-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.oracle.com/external/services/sampleservice/response/v1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.oracle.com/external/services/sampleservice/response/v1.0">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.oracle.com/external/services/sampleservice/response/v1.0">
            <xsd:element name="authenticationheader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sampleservicerq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service_id" type="xsd:string"/>
                        <xsd:element name="order_type" type="xsd:string"/>
                        <xsd:element name="type" type="xsd:string"/>
                        <xsd:element name="trx_id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sampleservicers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="error_code" type="xsd:string"/>
                        <xsd:element name="error_msg" type="xsd:string"/>
                        <xsd:element name="trx_id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SampleServiceRequest">
        <wsdl:part name="authenticationHeader" element="tns:authenticationheader"/>
        <wsdl:part name="sampleservicerq" element="tns:sampleservicerq"/>
    </wsdl:message>
    <wsdl:message name="sampleservicerqResponse">
        <wsdl:part element="tns:sampleservicerq" name="sampleservicerq"/>
    </wsdl:message>
    <wsdl:portType name="SampleServicePortType">
        <wsdl:operation name="sampleservicers">
            <wsdl:input message="tns:sampleservicerqResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SampleServiceSoapBinding" type="tns:SampleServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sampleservicers">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sampleservicers">
        <wsdl:port binding="tns:SampleServiceSoapBinding" name="SampleServicePort">
            <soap:address location="http://localhost:8080/external/services/ws/sample-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
